//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
//npm.pkg.github.com/meshx-org/:_authToken=${NODE_AUTH_TOKEN}
//npm.pkg.github.com/download/:_authToken=${NODE_AUTH_TOKEN}
@meshx-org:registry=https://npm.pkg.github.com
always-auth=true