{
    "name": "{{ library_name }}",
    "version": "1.0.0",
    "main": "index.js",
    "types": "index.ts",
    "description": "MIDL library",
    "files": [
        "index.js",
        "index.ts"
    ],
    "dependencies": {
        "@meshx-org/midl": "*",
        "@meshx-org/fiber-ts": "*"
    }
}