{
    "extends": "../../../../../../tsconfig.base.json",
    "compilerOptions": {
        "module": "commonjs",
        "declaration": true,
        "skipLibCheck": true,
        "types": ["node"]
    },
    "files": ["index.ts"],
}
